{% load static %}

<!DOCTYPE html>
<html lang="pt-br" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Sistema de Provas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>

<body>
   <div class="columns is-gapless">

        <!-- Sidebar -->
        <aside class="column is-2 sidebar">
            <aside class="menu">
                <p class="menu-label">Menu</p>
                <ul class="menu-list">
                    <li><a href="/provas">Lista de Provas</a></li>
                    <li><a href="/provas/criar">Cadastrar Nova Prova</a></li>
                </ul>
            </aside>
        </aside>

        <!-- Conteúdo principal -->
        <div class="column content p-5">
            <div class="container py-4">

                {% block content %}
                {% endblock %}

                <footer class="mt-6">
                    <p>&copy; <span id="current_year"></span>  - Meu Sistema de Provas</p>
                </footer>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('#current_year').innerHTML = (new Date()).getFullYear()
    </script>
</body>

</html>