{% extends "core/base.html" %}

{% load static %}

{% block content %}

<h1 class="title">Criar Questão </h1>
<p class="subtitle">pagina de criação de questão</p>

<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            Preencha os campos abaixo
        </div>
    </div>
    <div class="card-content">
        <form action="" method="post">
            {% csrf_token %}

            <div class="field">
                <label for="id_numero">Numero:</label>
                {{ form.numero }}
            </div>

            <div class="field"> 
                <label for="id_valor">Valor:</label>
                {{ form.valor }}
            </div>

            <div class="field is-grouped">
                <div>
                    <label for="id_resposta_correta">Resposta correta:</label>
                    <div class="control">
                        <div class="select">
                            {{ form.resposta_correta }}
                        </div>
                    </div>
                </div>

                <div>
                    <label for="id_resposta_inserida">Resposta Inserida:</label>
                    <div class="control">
                        <div class="select">
                            {{ form.resposta_inserida }}
                        </div>
                    </div>
                </div>
            </div>

            <a href="/provas/ver_questoes/{{ model.id }}" class="button is-default" type="submit"
                value="Enviar">Voltar</a>
            <input class="button is-primary" type="submit" value="Enviar">
        </form>
    </div>
</div>

<script src="{% static 'js/show-criar-varios.js' %}"></script>

{% endblock %}