{% extends "core/base.html" %}

{% load static %}

{% block content %}

<h1 class="title">Criar Questão </h1>
<p class="subtitle">pagina de criação de questão</p>

<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            Preencha os campos abaixo
        </div>
    </div>
    <div class="card-content">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}

            <div>
                <label for="id_criar_varios">Criar varios:</label>
                <input type="checkbox" name="criar_varios" class="checkbox mb-4" id="id_criar_varios">
            </div>

            <div class="is-hidden">
                <label for="id_de">De:</label>
                <input type="number" name="de" class="input mb-4" id="id_de">
            </div>

            <div class="is-hidden">
                <label for="id_ate">Ate:</label>
                <input type="number" name="ate" class="input mb-4" id="id_ate">
            </div>

            <a href="/provas/ver_questoes/{{ model.id }}" class="button is-default" type="submit"
                value="Enviar">Voltar</a>
            <input class="button is-primary" type="submit" value="Enviar">
        </form>
    </div>
</div>

<script src="{% static 'js/show-criar-varios.js' %}"></script>

{% endblock %}