{% extends "core/base.html" %}

{% block content %}

<h1 class="title">Editar Questão</h1>
<p class="subtitle">Questão: {{ model.numero }} </p>

<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            Preencha os campos abaixo
        </div>
    </div>

    <div class="card-content">

        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <a href="/provas/ver_questoes/{{ model.materia_fk_id }}" class="button is-default" type="submit"
                value="Enviar">Voltar</a>
            <input class="button is-primary" type="submit" value="Enviar">
        </form>
    </div>
</div>

{% endblock %}