{% extends "core/base.html" %}

{% block content %}

<h1 class="title">Provas Feitas</h1>
<p class="subtitle">Aqui estão todas as provas de concurso que fiz</p>

<table class="table is-bordered is-fullwidth">
    <thead>
        <tr>
            <th class="is-light">ID</th>
            <th class="is-light">Nome</th>
            <th class="is-light">Data</th>
            <th class="is-light has-text-centered">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for prova in provas %}
        <tr>
            <td>{{ prova.id }}</td>
            <td>{{ prova.nome }}</td>
            <td>{{ prova.data }}</td>
            <td class="has-text-centered">
                <a class="button is-link" href="/provas/ver/{{ prova.id }}">Ver</a>
                <a class="button is-default" href="/provas/editar_prova/{{ prova.id }}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}