{% extends "core/base.html" %}

{% load dict_extras %}

{% load static %}

{% block content %}

<div class="is-flex is-justify-content-space-between is-align-items-center">
    <div>
        <h1 class="title">Prova: {{ model.id }} | {{ model.nome }}</h1>
        <p class="subtitle">Realizada em {{ model.data|date:"d/m/Y" }} </p>
    </div>

    <div class="is-flex is-gap-2">
        <a class="button is-default" href="/provas">Voltar</a>
    </div>
</div>

<p>Para conferir a prova clique <a target="_blank" href="{{ model.link_prova }}">aqui</a>.</p>
<p>Para conferir o gabarito clique <a target="_blank" href="{{ model.link_gabarito }}">aqui</a></p>

<form action="" method="post">
    {% csrf_token %}
    <table class="table is-bordered is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th class="is-light">Número</th>
                <th class="is-light has-text-centered">Resposta Correta</th>
                <th class="is-light has-text-centered">Resposta Inserida</th>
                <th class="is-light has-text-centered">Anulada?</th>
                <th class="is-light has-text-centered">Resultado</th>
                <th class="is-light has-text-centered">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for materia in materias %}
                {% for questao in materia.questao_set.all %}
                    <tr>
                        <td> {{ questao.numero }} </td>
                        <td class="has-text-centered td-resposta-correta">
                            <div class="select">
                                <select class="select-resposta-correta" name="resposta_correta_{{ questao.id }}">
                                    <option value="">Selecione</option>
                                    {% for codigo, descricao in opcoes %}
                                    <option value="{{ codigo }}" {% if questao.resposta_correta == codigo %} selected {% endif %}>
                                        {{ descricao }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>

                        <td class="has-text-centered td-resposta-inserida">
                            <div class="select">
                                <select class="select-resposta-inserida" name="resposta_inserida_{{ questao.id }}">
                                    <option value="">Selecione</option>
                                    {% for codigo, descricao in opcoes %}
                                    <option value="{{ codigo }}" {% if questao.resposta_inserida == codigo %} selected {% endif %}>
                                        {{ descricao }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td class="has-text-centered td-anulada"> 
                            <input type="checkbox" class="checkbox" name="anulada_{{ questao.id }}" {% if questao.anulada %} checked {% endif %} >
                        </td>
                        <td class="has-text-centered td-valor" data-id="{{ questao.id }}"> 
                            <span class="tag {% if questao.valor %} is-primary {% else %} is-danger {% endif %}">
                                {% if questao.valor %} ACERTO {% else %} ERRO {% endif %}
                            </span>
                        </td>
                        <td class="has-text-centered">
                            <a href="/provas/editar_questao/{{ questao.id }}" class="button is-default">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <button type="submit" class="button is-default">Enviar</button>
</form>


<div id="menuFlutuante" class="box menu-flutuante">
    <div class="menu-flutuante-header">
        <button type="button" id="btnMinimizar" class="button is-small is-light" title="Minimizar">
            <span class="icon">
                <i class="fas fa-chevron-down"></i> 
            </span> 
        </button>
    </div>
    
    <div id="menuConteudo" class="menu-conteudo mt-3"> <!-- NAVEGAÇÃO -->
        <div class="box mb-2">
            <div class="is-flex is-justify-content-center is-align-content-center is-gap-1">
                <span id="qtdAcertos" class="tag is-primary is-light"></span>
                <span id="qtdErros" class="tag is-danger is-light"></span>
                <span id="percentAcertos" class="tag is-info is-light"></span>
            </div>
        </div>

        <div class="box"> 
            <button type="button" id="btnVoltarTopo" class="button is-link is-light mb-2 is-small"> 
                <span class="icon"> 
                    <i class="fas fa-arrow-up"></i> 
                </span> 
                <span>Ir ao topo</span> 
            </button> 
            <button type="button" id="btnIrFinal" class="button is-link mb-2 is-small"> 
                <span class="icon"> 
                    <i class="fas fa-arrow-down"></i>
                </span> 
                <span>Ir ao final</span> 
            </button>
        </div>

        <div class="box"> 
            <button type="button" id="btnOcultarRespostasCertas" class="button is-primary is-light mb-2 is-small">
                <span class="icon"> 
                    <i class="fas fa-eye-slash"></i> 
                </span> 
                <span>Ocultar corretas</span> 
            </button>
            <button type="button" id="btnOcultarRespostasInseridas" class="button is-info is-light mb-2 is-small"> 
                <span class="icon"> 
                    <i class="fas fa-eye-slash"></i> 
                </span>
            <span>Ocultar inseridas</span> </button>
            <button type="button" id="btnOcultarAcertos" class="button is-success is-light mb-2 is-small"> 
                <span class="icon"> 
                    <i class="fas fa-eye-slash"></i>
                </span> 
                <span>Ocultar acertos</span> 
            </button>
        </div>

        <div class="box"> 
            <button type="button" id="btnLimparCorretas" class="button is-warning is-light mb-2 is-small"> 
                <span class="icon"> 
                    <i class="fas fa-eraser"></i> 
                </span> 
                <span>Limpar certas</span> 
            </button> 
            <button type="button" id="btnLimparInseridas" class="button is-warning is-light mb-2 is-small"> 
                <span class="icon"> 
                    <i class="fas fa-eraser"></i> 
                </span> 
                <span>Limpar inseridas</span> </button> 
            <button type="button" id="btnLimparTudo" class="button is-danger is-light is-small"> 
                <span class="icon"> 
                    <i class="fas fa-trash-alt"></i>
                </span> 
                <span>Limpar tudo</span> 
            </button>
        </div>
    </div>
</div>

<script src="{% static 'js/revisao.js' %}"></script>

{% endblock %}