{% extends "core/base.html" %}

{% load static %}

{% block content %}

<div class="is-flex is-justify-content-space-between mb-2 is-align-items-center">
    <h2 class="title">Matérias da Prova {{ materia.nome }} </h2>

    <div class="is-flex is-gap-2">
        <a class="button is-default" href="/provas/ver_materias/{{ materia.prova_fk_id }}">Voltar</a>
        <a class="button is-primary" href="/provas/adicionar_questao/{{ materia.id }}">Adicionar Questão</a>
        <a class="button is-success" href="/provas/adicionar_questao_em_lote/{{ materia.id }}">Adicionar Questão em Lote</a>
    </div>
</div>

<p class="tag"> Quantidade de Acertos: {{ materia.pontuacao.acertos }} / {{ materia.pontuacao.quantidade }} </p>
<p class="tag"> Percentual de Acerto: {{ materia.pontuacao.percentual }}% </p>
<p class="tag"> Pontuação Obtida: {{ materia.pontuacao.notaObtida }} / {{ materia.pontuacao.notaTotal }} </p>




<table class="table is-bordered is-fullwidth">
    <thead>
        <tr>
            <th class="is-light">Número</th>
            <th class="is-light has-text-centered">Resposta Correta</th>
            <th class="is-light has-text-centered">Resposta Inserida</th>
            <th class="is-light has-text-centered">Peso</th>
            <th class="is-light has-text-centered">Valor</th>
            <th class="is-light has-text-centered">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for questao in questoes %}
        <tr>
            <td> {{ questao.numero }} </td>       
            <td class="has-text-centered">
                <span class="tag is-info is-light">
                    {{questao.resposta_correta}}
                </span>
            </td>   
            <td class="has-text-centered">
                <span class="tag is-info is-light">
                    {{questao.resposta_inserida}}
                </span>
            </td>
            <td class="has-text-centered">
                {{ questao.peso }}
            </td>
            <td class="has-text-centered" onclick="alternarValorQuestao({{ questao.id }})" data-id="{{ questao.id }}""> 
                <span style="cursor: pointer;" class="tag {% if questao.valor %} is-primary {% else %} is-danger {% endif %}"> 
                    {% if questao.valor %} SIM {% else %} NÃO {% endif %} 
                </span> 
            </td>       
            <td class="has-text-centered">
                <a href="/provas/editar_questao/{{ questao.id }}" class="button is-default">Editar</a>
                <a href="/provas/excluir_questao/{{ questao.id }}" class="button is-danger text-white">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static 'js/alternar-valor-questao.js' %}"></script>

{% endblock %}